<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<title>
			Book Cranny | {% block title_block %} base page {% endblock %}
		</title>
		<link rel="stylesheet" href="{% static 'styles.css' %}">
	</head>
	<body>
		<div id="header_bar">
			<a href="{% url 'bookCranny:index' %}" class="a_button large_a_button">
				Book Cranny
			</a>
			<a href="{% url 'bookCranny:books' %}" class="a_button large_a_button">
				Books
			</a>
			<!---New--->
			{% if user.is_authenticated %}
				<a href="{% url 'bookCranny:newbook' %}" class="a_button large_a_button">
					New Book
				</a>
				Logged in: {{ user.username }}
				<a href="{% url 'auth_logout' %}?next=/bookcranny/" class="a_button large_a_button hb_right">
					Log out
				</a>
			{% else %}
				<a href="{% url 'registration_register' %}" class="a_button large_a_button hb_right">
					Sign Up
				</a>
				<a href="{% url 'auth_login' %}" class="a_button large_a_button hb_right">
					Log In
				</a>
			{% endif %}
			<!---New--->
		</div>
		<div id="content">
			{% block content_block %}
				This is the base page. You should not be seeing this.
			{% endblock %}
		</div>
	</body>
</html>