{% extends 'bookcranny/base.html' %}

{% block title_block %} {{ book }} {% endblock %}
{% block content_block %}

<h1>{{ book }} <span style="float: right; font-size:1em">{{ avgratingstars }} ({{ totratings }})</span></h1>

<div class="floatleftparagraphs">
	<p>
		ISBN: {{ ISBN }}
	</p>
	<p>
		Author: {{ author }}
	</p>
	<p>
		Genre: {{ genre }}
	</p>
	<p>
		Description: {{ description }}
	</p>
</div>

<table>
	<tr><th>
		Reviews
	</th></tr>

	{% if reviews %}
		{% for review in reviews %}
			<tr><td>
				<b>{{ review.title }}</b>
				<span style="float: right; font-size:1.5em">{{ review.as_stars }}</span>
				<br/><br/>
				<a href="{% url 'bookCranny:user' review.username %}" class="a_button">{{ review.username }}</a>
				<a href="{% url 'bookCranny:rating' review.username review.ISBN.ISBN %}" class="a_button hb_right">Full Review</a>
			</td></tr>
		{% endfor %}
	{% else %}
		<tr><td>There are no reviews for this book in the database.</td></tr>
	{% endif %}
</table>

<div style="display:inline-block;width:100%">
<!-- new -->
{% if user.is_authenticated %}
{% if in_wishlist %}
<a href="{% url 'bookCranny:removefromwishlist' ISBN %}" class="a_button large_a_button">Remove from wishlist</a>
{% else %}
<a href="{% url 'bookCranny:addtowishlist' ISBN %}" class="a_button large_a_button">Add to wishlist</a>
{% endif %}
<a href="{% url 'bookCranny:rating' username ISBN %}" class="a_button large_a_button hb_right">Write a review</a>
{% endif %}
<!-- new -->
</div>
{% endblock %}