{% extends 'bookcranny/base.html' %}
{% load staticfiles %}
{% block title_block %} Home {% endblock %}
{% block content_block %}

<script type="text/javascript" src="{% static 'newbook.js' %}"></script>

<h1>Add a new book</h1>
		<form id="new_book_form" method="post" action=".">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Submit form" id="invisible_submit_button" class="hidden" />
		</form>
		<a href="javascript:load_from_google_books()" class="a_button" id="load_gbooks_btn">Load from Google Books</a> (Must type ISBN first)
		<a href="javascript:submit_form()" class="a_button hb_right" id="edit_btn">Add book to database</a>
{% endblock %}