{% extends 'bookcranny/base.html' %}

{% block title_block %} Home {% endblock %}
{% block content_block %}

<h1>Welcome to Book Cranny!</h1>


		<table>
			<tr><th>
				Recently added books
			</th></tr>

			{% if books %}
				{% for book in books %}
					<tr><td>
						{{ book.title }} by {{ book.author }}
						<a href="{% url 'bookCranny:book' book.ISBN%}" class="a_button hb_right">View</a>
					</td></tr>
				{% endfor %}
			{% else %}
				<tr><td>There are no books in the database.</td></tr>
			{% endif %}
		</table>

		<table>
			<tr><th>
				Recent reviews
			</th></tr>

			{% if reviews %}
				{% for review in reviews %}
					<tr><td>
						<b>{{ review.title }}</b>
						<span style="float: right; font-size:1.5em">{{ review.as_stars }}</span>
						<br/><br/>
						{{ review.ISBN.title }} by {{ review.ISBN.author }}
						<a href="{% url 'bookCranny:rating' review.username review.ISBN.ISBN %}" class="a_button hb_right">Full Review</a>
					</td></tr>
				{% endfor %}
			{% else %}
				<tr><td>There are no reviews in the database.</td></tr>
			{% endif %}
		</table>


{% endblock %}